.info-box {
    display: block;
    min-height: 80px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0;
    display: block;
    float: left;
    height: 80px;
    width: 80px;
    text-align: center;
    font-size: 45px;
    line-height: 80px;
    background: rgba(0,0,0,0.2);
}

.info-box-icon i {
    color: #fff;
}

.info-box-content {
    padding: 5px 10px;
    margin-left: 80px;
}

.info-box-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.badge {
    font-size: 12px;
}

